* {
	margin: 0;
	padding: 0;

	font: bold 14px Arial, sans-serif;
}


#label0 { 
   position: absolute; 
   top: 315px; 
   left: 585px; 
   width: 100%; 
}
.upper {margin:50px 200px;}

.graph {
	position:relative;
	float:left;
	width:50%;
	overflow:hidden;
	width: 400px;
	height: 285px;
	margin: 0px 0px 20px 20px;
}

#calculator {
	float:left;
	width:50%;
	overflow:hidden;
	width: 325px;
	height: 265px;
	
	padding: 20px 20px 0px;
	
	background: black;
}

.pad span{
	float: left;
	position: relative;
	top: 20;
	
	width: 74px;
	height: 36px;
	
	
	margin: 0 7px 11px 0;
	
	line-height: 36px;
	text-align: center;
	
	background: gray;
}

.display {
	height: 40px;
	width: 300px;

	padding: 0 10px;
	
	background: grey;
	
	font-size: 17px;
	line-height: 40px;
	text-align: right;
	letter-spacing: 1px;
}

.palette {

	width: 490px;
	height: 70px;
	
	padding: 0px 0px 0px 145px;
	


}

.colors div{

	float: left;
	position: relative;
	
	
	width: 70px;
	height: 70px;
	
	
	margin: 0px 0px 0px 0px;
	
	
	background: gray;

}

#a1 {background: #001f3f;}
#a2 {background: #0074d9;}
#a3 {background: #7fdbff;}
#a4 {background: #39cccc;}
#a5 {background: #2ECC40;}
#a6 {background: #01FF70;}
#a7 {background: #FFDC00;}
